@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #08111f;
  color: #fff7ed;
}

input, textarea, select {
  color: #fff7ed;
}
